body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background:#333 url(bg.jpg) repeat top left;
}
#sign_in{
  background:#333 url(bg.jpg) repeat top left;
}
#sign_up{
  background:#333 url(bg.jpg) repeat top left;
}
.check_button{	
	text-align:center;
}
#ok{
  color: white;
}
/*[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}*/